.navbar {
    width: 100%;
    height: 80px;
    background-image: url(../assets/restaurant.webp);
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .links {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
  }
  .links a:hover{
    color: aliceblue;
  }
.logo{
  display: flex;
  align-items: left;
  width: 100%;
  height: 70px;
  margin-left: 10px;
}